@page "/accounts"
@using SocialNetwork.Web.Pages.Users.Services
@using SocialNetwork.Web.Pages.Users.Models

@inject IAccountService AccountService

@layout MainLayout

<h1>Accounts</h1>
@foreach (var v in _accountsList)
{
    <div>@v.Id</div>
    <div>@v.Name - @v.Surname</div>
    <div>@v.Birthday</div>
}

@code {
    private IEnumerable<AccountModel> _accountsList = new List<AccountModel>();

    private async Task ReloadData()
    {
        _accountsList = await AccountService.GetAccounts(0, 10000);
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Console.WriteLine("Get accounts from api");
            await ReloadData();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}